<div class="sq-app">
  <sq-config></sq-config>
  <sq-url-manager></sq-url-manager>
  <div class="sq-searchbox">
    <sq-search-box placeholder="Search..."></sq-search-box>
  </div>
  <div class="sq-filter-main" v-if="!store.noContent">
    <div
            id="overlay"
            class="sq-overlay"
            onclick="removeClass()"
    ></div>
    <div class="sq-desktop-filter-header-title">Filter by</div>
    <div class="sq-filter-header">
      <div class="sq-filter-header-title">Filter by</div>
      <div class="sq-filter-header-clear">
        <sq-clear>
          <div class="sq-clear-btn">Clear all</div>
        </sq-clear>

        <span class="sq-cross" onclick="removeClass()">
          <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
          >
            <path d="M4.70703 3.29297L3.29297 4.70703L10.5859 12L3.29297 19.293L4.70703 20.707L12 13.4141L19.293 20.707L20.707 19.293L13.4141 12L20.707 4.70703L19.293 3.29297L12 10.5859L4.70703 3.29297Z" fill="#23263B" />
          </svg>
        </span>
      </div>
      <div class="sq-filter-bottom" onclick="removeClass()">
        <span>Apply Filter</span>
      </div>
    </div>
    <div class="sort-container-mobile">
      <label for="SortBy" class="hidden-label">Sort by:</label>
      <sq-sort></sq-sort>
    </div>
    <sq-applied-filter></sq-applied-filter>
    <sq-clear v-if="store.filters?.flatMap(x=>x.items)?.filter(x=>!!x?.selected)?.length > 0">
      <div class="sq-clear-btn-desktop">Clear all</div>
    </sq-clear>
    <sq-filter-group></sq-filter-group>
  </div>

  <div class="sparq-container">
    <div class="collection-filter__item collection-filter__item--sort">
      <div class="mobile--filter">
        <span class="mobile-facets__open" onclick="toggleFilter()">
          <svg
                  class="icon icon-filter"
                  aria-hidden="true"
                  focusable="false"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="none"
          >
            <path fill-rule="evenodd" d="M4.833 6.5a1.667 1.667 0 1 1 3.334 0 1.667 1.667 0 0 1-3.334 0ZM4.05 7H2.5a.5.5 0 0 1 0-1h1.55a2.5 2.5 0 0 1 4.9 0h8.55a.5.5 0 0 1 0 1H8.95a2.5 2.5 0 0 1-4.9 0Zm11.117 6.5a1.667 1.667 0 1 0-3.334 0 1.667 1.667 0 0 0 3.334 0ZM13.5 11a2.5 2.5 0 0 1 2.45 2h1.55a.5.5 0 0 1 0 1h-1.55a2.5 2.5 0 0 1-4.9 0H2.5a.5.5 0 0 1 0-1h8.55a2.5 2.5 0 0 1 2.45-2Z" fill="currentColor"></path>
          </svg>
          <span class="mobile-facets__open-label button-label medium-hide large-up-hide">Filter and sort</span>
        </span>
        <div class="on-load">  {% raw %} {{ store.totalHits }} {% endraw %} products</div>
      </div>
    </div>
    <div class="collection-filter__sort-container" v-if="!store.noContent">
      <label for="SortBy" class="hidden-label">Sort by:</label>
      <div class="sort-container">
        <sq-sort></sq-sort>
      </div>
      <div class="on-load">  {% raw %} {{ store.totalHits }} {% endraw %} products</div>
    </div>
    <sq-no-content></sq-no-content>
    <sq-grid-loader></sq-grid-loader>
    <sq-data-grid :class="window.sq.custom?.isList ? 'sq-list-view' : ''">
      <template #tpl="item">
        {% render 'sq-product' %}
      </template>
    </sq-data-grid>
    <sq-sy-pager v-if="store.results.length || !store.noContent"></sq-sy-pager>
  </div>


</div>


