<div class="sparq-card">
    <div class="sparq-thumbnail-wrap">
        <a
                :href="'/products/' + item.handle"
                class="sparq-loop-product"
                :class="item.images.length >1 && item.images[1].src ? 'sq-class':''"
        >
            <sq-sy-image
                    :size="300"
                    :item="item"
                    :show-secondary-image="false"
            ></sq-sy-image>
            <div
                    class="discount-label"
                    v-if="item.compare_at_price && item.price && item.compare_at_price > item.price"
            >
                Sale
            </div>
            <div class="outofstock-label" v-if="item.in_stock===0">Sold out</div>
        </a>
    </div>
    <div class="sparq-bottom">
        <div class="sparq-bottom-items">
            <div class="sparq-product-title">
                <a :href="'/products/' + item.handle" class="sparq-title h5">

                    {% raw %} {{ item.title }} {% endraw %}

                </a>
            </div>
            <div class="sq-product-price">
                <sq-sy-price
                        :item="item"
                        :decimal-count="2"
                ></sq-sy-price>
            </div>
        </div>
    </div>
</div>