@media screen and (min-width: 768px) {
  .footer__content-top .grid {
      column-gap: 9rem !important;
  }
  .footer__content-top.page-width {
      display: flex !important;
      max-width: 100% !important;
      justify-content: space-evenly;
      padding-top: 2rem !important;
  }
  .footer-block--newsletter.scroll-trigger.animate--slide-in {
      align-items: baseline;
      margin: 0 !important;
  }
}
