
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

#scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}


#scroll-to-top:hover {
    transform: scale(1.1);
    background-color: #e64a19; 
}







